{% extends "base.html.twig" %}

{% block section %}
    <div>
        <h1>Touch events</h1>
        <p id="touchSpeed"></p>
        <p id="touchAngle"></p>
    </div>
    <div>
        <h1>Move events</h1>
        <p id="acceleration-x"></p>
        <p id="acceleration-y"></p>
        <p id="acceleration-z"></p>
    </div>
    <div>
        <h1>Orientation events</h1>
        <p id="orientation-x"></p>
        <p id="orientation-y"></p>
        <p id="orientation-z"></p>
    </div>
    ID du socket : {{ socket }}
    <script src="device.js"></script>
{% endblock %}