{% extends "base.html.twig" %}

{% block section %}
    <section id="waitingScreen">
        <h1>
            Vous êtes en attente
        </h1>
        <i>Déjà trop de {% if device == false %}
                            Desktop
                        {% else %}
                            Device
                        {% endif %}
            connectés</i>
    </section>
{% endblock %}