{% extends "base.html.twig" %}

{% block section %}
    <section id="waitingScreen">
        <h1>
            Vous êtes en attente
        </h1>
        <i>Déjà trop de {{ type }} connectés</i>
    </section>
{% endblock %}