body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    background: brown;
    font-family: Fira code medium, serif;
    color: white;
}

h1 {
    text-align: center;
}